extends layout

block styles
    link(rel='stylesheet' href='/stylesheets/auth.css')
block content    
    div.wrapper
        div.auth-block
            span Логин
            input(type="text" id="login")
            span Пароль
            input(type="password" id="password")
            div.buttons
                button(id="enter") Вход
                button(id="reg") Регистрация
block scripts
    script(type="text/javascript" src="/javascripts/auth.js")