doctype html
html
  head
    title test
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous")
  body
    header
      .row.header-wrapper
        .col-8.menu-block
          nav.nav.nav-block
            if page == "list"
              a.nav-item.active-item(id="button_list" href="/") Список
            else
              a.nav-item(id="button_list" href="/") Список
            if page == "lk"
              a.nav-item.active-item(id="button_lk" href="/lk") Личный кабинет
            else
              a.nav-item(id="button_lk" href="/lk") Личный кабинет
        .col-4.user-block
          .img-avatar-header
            img(name="img_user" id="header_user_img" src="/images/default.jpg").img-fluid
          span(name="user_name", id="user_name_header")
          button.btn.btn-light(id="exit_button") Выход
    block content
    script(type="text/javascript" src="/javascripts/main.js")
    script(src="https://code.jquery.com/jquery-3.4.1.js" integrity="sha256-WpOohJOqMqqyKL9FccASB9O0KwACQJpFTUBLTYOVvVU=" crossorigin="anonymous")
    script(src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous")
    script(src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous")
    block scripts