*{
	font-size: 1.1em;
}

html,body{
	margin: 0;
	padding: 0;
}

input{
	border: 1px solid black;
}

.wraper-header{
	width: 80%;
	margin-top: 40px;
	display: inline-flex;
	justify-content: space-between;
}

#input_text{
	margin-left: 40px;
}

.button-simple{
	border: 1px solid black;
	margin-left: 10px;
}

.button-delete{
	color:red;
	border: none;
	background: white;
}

.button-edit{
	color: blue;
	border: none;
	background: white;
}
	
.list{
	list-style-type: none;
}

#radio_box{
	margin-left: 40px;
	font-size: 1em;
}

#radio_box input{
	width: 20px;
	height: 20px;
}

.wrapper{
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}

.auth-block{
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 2px solid black;
}

#login{
	border: 1px solid black;
	margin-bottom: 20px;
}

#password{
	border: 1px solid black;
	margin-bottom: 20px;
}

.buttons{
	display: inline-flex;
	justify-content: center;
}

#enter{
	border: 1px solid black;
}

#reg{
	border: 1px solid black;
	margin-left: 10px;
}
